

/* Define a class for the background image */
.background-image {
  position: fixed; /* keeps the image in a fixed position */
  top: 0;
  left: 0;
  width: 100%; /* takes up the full width of the screen */
  height: 100%; /* takes up the full height of the screen */
  background-size: cover; /* scales the image to cover the entire element */
  background-position: center; /* centers the image within the element */
  z-index: -1; /* places the image behind the other elements */
  animation: slideshow 40s cubic-bezier(0, 0, 0.74, 8) infinite; /* Hacked by lewis */
}

@keyframes slideshow {
  0% {
    background-image: url("Images/image1.jpg");
  }
  25% {
    background-image: url("Images/image2.jpg");
  }
  50% {
    background-image: url("Images/image3.jpg");
  }
  75% {  
    background-image: url("Images/image4.jpg");
  }
  100% {
    background-image: url("Images/image1.jpg");
  }
}

.timer-container {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%); /* centers the container element on the page */
  text-align: center;
  background-color: #2a2a2a; /* dark gray */
  color: #ffffff; /* white */
  display: block;
  width: 30%;
  padding: 30px;
  border-radius: 20px; /* adds curved edges to the container */
  opacity: 0.9;
}
#timer {
  font-size: 36px;
  font-weight: bold;
  color: #5F939A; /* red */
}
.form{
	padding-left: 25%;
	padding-top: 5%;
}
.menu-container {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%); /* centers the container element horizontally */
  background-color: #2a2a2a; /* dark gray */
  color: #ffffff; /* white */
  padding: 10px;
  width: 100%;
  text-align: center;
  opacity: 0.9;
  font-size: 18;
}
.menu-container nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  font-size: 18;
}
.menu-container nav ul li {
  margin-right: 20px;
  font-size: 18;
}
.menu-container nav ul li a {
  color: #5F939A; /* le tour blue */
  text-decoration: none;
  font-size: 18;
}
.menu-container nav ul li a:hover {
color: #ffffff; /* white */
}


.tweets {
	padding-top: 20%;
	padding-left: 37%;
}

.tweets-cfp {
	padding-top: 7%;
	padding-left: 37%;
}
.tweets-cfs {
	padding-top: 5%;
	padding-left: 37%;
}

/* Media queries for mobile devices */
@media only screen and (max-width: 600px) {
/* change the font size of the timer */
#timer {
font-size: 24px;
}
/* adjust the width of the container */
.timer-container, .menu-container {
width: 80%;
}
}

@media only screen and (max-width: 767px) {
  /* adjust margin for non-desktop devices */
  .tweets {
    display: none;
  }
  .tweets-cfp {
    display: none;
  }
  .tweets-cfs {
    display: none;
  }

  .timer-container {
    top: 50%;
  }

  .menu-container {
    width: 100%;
    padding: 10px 0;
  }

  .menu-container nav ul li:first-child {
    margin-left: 15px;
  }
}

.form {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.iframe-container {
  padding-top: 10%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 100%;
}


.iframe-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}


@media only screen and (max-width: 767px) {
  .iframe-container {
    padding-top: 80%; /* 5:4 aspect ratio */
  }
}


